<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Novo Usuário</title>
  </head>
  <body>
    <h1>Novo Usuário</h1>
    <form  method="post">
      <input type="text" name="nome" placeholder="Nome"/>
      <input type="text" name="email" placeholder="e-mail"/>
      <input type="password" name="password" placeholder="senha"/>
      <input type="submit"/>
      <input type="reset"/>
    </form>
  </body>
</html>
