<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=titulo%></title>
  </head>
  <body>
    <h1><%=titulo%></h1>
    <p>Você já acessou <%=i%> vezes e a ultima vez foi em <%=data%>!</p>
  </body>
</html>
